* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

header {
  padding-top: 192px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/images/bridge.svg);
  max-height: 740px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  text-align: center;
}

.text1,
.text2 {
  color: white;
}

.text1 {
  font-weight: 500;
  text-align: center;
}

.text2 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
}

.experience {
  background-image: url(assets/images/whiteExp.svg);
  display: flex;
  list-style-type: none;
  background-color: white;
  padding: 60px 90px;
  gap: 150px;
  justify-content: center;
  align-items: center;
}

.num {
  color: #f7654a;
  font-size: 72px;
}

.year {
  font-weight: 500;
  font-size: 36px;
}

.market {
  color: #999;
}

.arenaWrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}

.arenaProject {
  text-align: center;
  color: #404149;
  font-weight: 500;
  height: 43px;
  justify-content: center;
  padding-bottom: 50px;
}
.arenaParts {
  gap: 0 30px;
  display: flex;
}
.partOfArena {
  max-width: 350px;
  font-family: "Oswald";
  color: #404149;
}

.partOfArena .line {
  width: 55px;
  height: 6px;
  margin-top: 40px;
}

.description {
  font-family: "Open Sans", sans-serif;
  color: #999;
}

.smartProjects {
  margin-top: 100px;
}
.smartText {
  color: #fff;
  margin: 20px 0;
}

.smartProjectWrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request {
  height: 49px;
  padding: 5px 25px;
  border: none;
}

.whatAreWeDoingWrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.whatWeDo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.build {
  background-image: url(assets/images/lightBG.svg);
  background-repeat: no-repeat;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 350px;
  height: 250px;
}

.build img {
  width: 60px;
  height: 40px;
}

.buildings {
  margin-top: 20px;
}

.build3parts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
}

.build6parts {
  display: grid;
  gap: 0 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.contacts {
  max-width: 1110px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactsParts {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.partOfContact {
  width: 255;
  height: 191;
}

.contactsParts img {
  width: 71px;
  height: 29px;
}

.contTitle {
  font-weight: 500;
  color: #999999;
  margin: 10px 0;
}

.email {
  color: #f7654a;
}

.emailpartOfContact {
  width: 255;
  height: 155;
}

.footerWrapper {
  max-width: 1110px;
  margin: 0 auto;
  height: 82px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
